<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/profile_img3.jpeg);
    background-size: 100vw 100vh;
    font-family: Arial, sans-serif;
}

.login-form {
    background-color: #fff;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
    animation: fadeIn 1s ease-in-out, slideIn 1s ease-out;
    background: transparent;
    
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    margin-top: 15px;
    animation: inputSlide 0.5s ease-in-out forwards;
    opacity: 0;
    border-radius: 20px;
}

.input-group:nth-child(1) { animation-delay: 0.5s; }
.input-group:nth-child(2) { animation-delay: 0.7s; }

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    animation: buttonSlide 0.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1s;
}

button:hover {
    background-color: rgb(48, 47, 47);
    color: #fff;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-30px); }
    to { transform: translateY(0); }
}

@keyframes inputSlide {
    from { transform: translateX(-50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes buttonSlide {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

    </style>
</head>
<body>
    <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="input-group">
                <label for="username">Email Id</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
             <h3>Don't have a profile? <a href="/signup" class="create-profile"> Create one here</a></h3>
        </form>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            window.location.href = '/profile.html';
        });
    </script>

</body>
</html>
